/**
 * Styles for Action components.
 */

@use './../../Base' as *;

.action {
  a {
    color: $linkColor;
    cursor: pointer;
    font-weight: bold;
    &:hover {
      color: $linkHover;
    }
  }
}
