/**
 * Styles for LinkText components.
 */

@use './../../Base' as *;

.linktext {
  position: relative;
  .linktext--text {
    font-weight: $weightBold;

    @each $name, $color in $tribeColors {
      &.#{$name} {
        color: $color;
      }
    }

    .hidden,
    .hidden & {
      visibility: hidden;
    }
    &.outline {
      text-shadow: 0 0 2px $black;
    }
  }

  .linktext--popup {
    background-color: $linktextPopupBack;
    border: 1px solid $borderColor;
    color: $typeColor;
    display: none;
    padding: 15px;
    position: fixed;
    z-index: 999;
    > .player.player-card {
      border: 0;
      padding: 0;
    }
  }
  // @todo: change this to .open and make linktext work on click instead.
  &:hover {
    > .linktext--popup {
      display: block;
    }
  }
}
