/**
 * Styles for the main Interface components.
 */
/**
 * Styles pertaining to the Interface container.
 */
/**
 * Base Variables
 */
body {
  background-color: #FDF9F2;
}

.interface {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.interface-inner {
  background-color: #F6E6CB;
  border: 1px solid #000000;
  color: #BC8510;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
}

.interface-panel {
  box-sizing: border-box;
  padding: 35px;
}

.interface-top,
.interface-bottom {
  flex: 1 1 100%;
}

.interface-main {
  border: 1px solid #000000;
  border-left: 0;
  flex: 0 1 80%;
  max-height: 400px;
  overflow-y: auto;
}

.interface-side {
  border: 1px solid #000000;
  border-left: 0;
  border-right: 0;
  flex: 1 1 20%;
  max-height: 400px;
  overflow-y: scroll;
}

/**
 * Styles for the main Interface's Action Box.
 */
.action-box {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.action-box .actions-prompt {
  font-weight: bold;
  width: 100%;
  text-align: center;
}
.action-box ul {
  align-items: center;
  display: flex;
  gap: 15px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.action-box ul li {
  margin: 0;
  padding: 0;
}

/**
 * Styles for the Interface EnviroBox component.
 */
.enviro-box {
  border-top: 1px solid #000000;
  margin-top: 20px;
  padding: 20px 20px 0;
}

/**
 * Styles for the Interface InfoBox component.
 */
.info-box .info-box-log {
  color: #DDBF81;
}
.info-box .info-box-log.info-box-log--active {
  color: #BC8510;
}
.info-box .info-box-log .hidden {
  color: transparent;
}

/**
 * Styles for the main Interface's Player Box.
 */
/**
 * Interface Status Box
 */
.status-box .status-box-stats {
  list-style: none;
  margin: 0;
  max-width: 50%;
  padding: 0;
}
.status-box .status-box-stats .status-box-stat {
  list-style: none;
  display: inline-block;
  margin: 5px 20px 5px 0;
  padding: 0;
}
.status-box .label {
  margin-right: 10px;
  text-decoration: underline;
}
.status-box .label:after {
  content: ":";
  position: absolute;
}
.status-box .value {
  font-weight: 700;
}

/**
 * Styles for Action components.
 */
.action button {
  background: white;
  border: 1px solid black;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 15px;
}

/**
 * Styles for LinkText components.
 */
.linktext {
  position: relative;
}
.linktext .linktext--text {
  font-weight: 700;
}
.linktext .linktext--text.black {
  color: #000000;
}
.linktext .linktext--text.cardinal {
  color: #D1232C;
}
.linktext .linktext--text.amethyst {
  color: #AF36BA;
}
.linktext .linktext--text.orchid {
  color: #E26AC1;
}
.linktext .linktext--text.persian {
  color: #201FD1;
}
.linktext .linktext--text.mariner {
  color: #1F67D1;
}
.linktext .linktext--text.java {
  color: #19B3AF;
}
.linktext .linktext--text.jade {
  color: #00A86B;
}
.linktext .linktext--text.meadow {
  color: #19B371;
}
.linktext .linktext--text.green {
  color: #17D10A;
}
.linktext .linktext--text.sulu {
  color: #A7EC55;
}
.linktext .linktext--text.lemon {
  color: #F9F015;
}
.linktext .linktext--text.sun {
  color: #F9B915;
}
.linktext .linktext--text.carrot {
  color: #F19D22;
}
.linktext .linktext--text .hidden, .hidden .linktext .linktext--text {
  visibility: hidden;
}
.linktext .linktext--text.outline {
  text-shadow: 0 0 2px #000000;
}
.linktext .linktext--popup {
  background-color: #FFFFFF;
  color: #BC8510;
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999;
}
.linktext:hover .linktext--popup {
  display: block;
}

/**
 * Styles for Player components.
 */
/**
 * Card display of Player info.
 */
.player.player-card {
  border: 1px solid #000000;
  padding: 15px;
}
.player.player-card h3 {
  font-size: 16px;
  margin: 0;
  white-space: nowrap;
}
.player.player-card ul {
  list-style: none;
  font-size: 12px;
  margin: 15px 0 0;
  padding: 0;
}
.player.player-card ul li {
  white-space: nowrap;
}

/**
 * Styles for Tribe components.
 */
/**
 * General Tribe styles.
 */
.tribe.black {
  background-color: #000000;
}
.tribe.cardinal {
  background-color: #D1232C;
}
.tribe.amethyst {
  background-color: #AF36BA;
}
.tribe.orchid {
  background-color: #E26AC1;
}
.tribe.persian {
  background-color: #201FD1;
}
.tribe.mariner {
  background-color: #1F67D1;
}
.tribe.java {
  background-color: #19B3AF;
}
.tribe.jade {
  background-color: #00A86B;
}
.tribe.meadow {
  background-color: #19B371;
}
.tribe.green {
  background-color: #17D10A;
}
.tribe.sulu {
  background-color: #A7EC55;
}
.tribe.lemon {
  background-color: #F9F015;
}
.tribe.sun {
  background-color: #F9B915;
}
.tribe.carrot {
  background-color: #F19D22;
}
.tribe.text--white {
  color: white;
}
.tribe.text--black {
  color: #000000;
}

/**
 * Tribe flag (small description of tribe).
 */
.tribe.tribe-flag {
  border: 1px solid #000000;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}

.App {
  background: url("./images/texture.png") repeat scroll left top tan;
  background-size: 600%;
}