/**
 * Styles for the main Interface's Action Box.
 */

.action-box {
  align-items: start;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  .actions-prompt {
    font-weight: bold;
    width: 100%;
    text-align: center;
  }

  .actions-category {
    min-width: 30%;
  }
}
