/**
 * Styles pertaining to the Interface container.
 */

@use './../Base' as *;

body {
  background-color: $background;
}

.interface {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.interface-inner {
  background-color: $interface;
  border: 1px solid $borderColor;
  color: $typeColor;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  // text-shadow: $typeColor 0px 0 3px;
}

.interface-panel {
  box-sizing: border-box;
  padding: 35px;
}

.interface-top,
.interface-bottom {
  flex: 1 1 100%;
}

.interface-main {
  border: 1px solid $borderColor;
  border-left: 0;
  flex: 0 1 80%;
}

.interface-side {
  border: 1px solid $borderColor;
  border-left: 0;
  border-right: 0;
  flex: 1 1 20%;
  max-height: 400px;
  overflow-y: scroll;
}
