
/**
 * Card display of Player info.
 */

@use './../Base' as *;

.player.player-card {
  border: 1px solid $borderColor;
  padding: 15px;

  h3 {
    font-size: 16px;
    margin: 0;
  }

  ul {
    list-style: none;
    font-size: 12px;
    margin: 15px 0 0;
    padding: 0;
  }
}
